/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;

  --fs-body: 1.125rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --clr-accent: hsl(322, 100%, 66%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(193, 100%, 96%);
  --clr-neutral-300: hsl(208, 11%, 55%);
  --clr-neutral-900: hsl(192, 100%, 9%);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 300;
  text-align: center;
}

section {
  padding: 2.5rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 3.5rem 0;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.split > * {
  width: 100%;
}

.split > * + * {
  margin: 4rem 0 0 0;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

.xl-space {
  margin-top: 5rem !important;
}

header {
  padding: 2.5rem 0;
  background-color: var(--clr-neutral-200);
  background-image: url(images/bg-hero-desktop.svg);
}

h2 {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: var(--clr-neutral-900);
  padding: 7rem 0 3rem 0;
  text-align: left;
  color: var(--clr-neutral-100);
}

footer > * a {
  color: var(--clr-neutral-100);
}
.social-media {
  display: flex;
  gap: 1rem;
}
.social-media > * img {
  height: 30px;
}
.footer-flex {
  display: flex;
  gap: 1rem;
}

.footer-flex > img {
  align-self: flex-start;
}
.card {
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.15);
  padding: 3rem;

  /* transition: opacity 350ms ease; */
}

.btn {
  background-color: var(--clr-neutral-100);
  font-family: inherit;
  font-weight: var(--fw-600);
  color: var(--clr-neutral-900);
  padding: 0.7rem 2rem;
  border-radius: 30px;
}
.btn-accent {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-100);
}

.main-content {
  padding: 2.5rem 0 10rem 0;
  position: relative;
}

.cta {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-100);
  padding: 0.7rem 2rem;
  border-radius: 30px;
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
